<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us webpage</title>
    <link rel="stylesheet" href="public/contactuscss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section>
        <div class="container">
            <div class="contactInfo">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                    <span><i class="fas fa-mail-bulk"></i></span>
                    <span>Sahil@gmail.com</span>
                    </li>
                    <li>
                        <span><i class="fas fa-location-arrow"></i></span>
                        <span>2945, Meadowbrook road <br>
                        Los Angeles, CA <br>
                        90017 </span>
                    </li>
                    <li>
                        <span><i class="fas fa-phone-alt"></i></span>
                        <span>9876543210</span>
                    </li>
                    <li>
                        <span><i class="fas fa-sms"></i></span>
                        <span>9876543210</span>
                    </li>
                </ul>
                <ul class="sci">
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href=""><i class="fab fa-snapchat-square"></i></a></li>
                    <li><a href=""><i class="fab fa-whatsapp-square"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                </ul>
            </div>
                <div class="contactForm">
                    <h2>Send a Message</h2>
                <div class="formBox w100">
                    <div class="inputBox w50">
                        <input type="text" name="name" id="name" required>
                        <span>Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="email" name="email" id="email" required>
                        <span>email</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="number" name="phone" id="phone" required>
                        <span>Mobile No.</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea rows="4" cols="50" name="data" id="data" required></textarea>
                        <span>Your query</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" name="submit" id="submit" value="Submit" required>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</body>
</html>
